.epic-details {
    background-color: #eee;
}

#epic-details-button-container {
    display: flex;
    flex-direction: row;
    padding: 5px 2px;
    max-width: 220px;
    gap: 15px;
}

#edit-epic-button,
#delete-epic-button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
    flex: 1;
}

#edit-epic-button {
    background-color: #aaaaff;
    color: black;
}

#edit-epic-button:hover {
    background-color: #9999ff;
}

#edit-epic-button:active {
    background-color: #8888ff;
}

#delete-epic-button {
    background-color: #ffa5a5;
    color: #550000;
}

#delete-epic-button:hover {
    background-color: #ff8888;
}

#delete-epic-button:active {
    background-color: #ff6666;
}