.epic-name-cell {
  cursor: pointer;
  font-weight: 500;
}

.epic-name-cell:hover {
  background: #eee;
}

.reorder-header-cell,
.reorder-cell {
  width: 2rem;
  text-align: center;
}

.reorder-cell button {
  width: 1.5rem;
  padding: 0;
}

.reorder-cell button:not(:disabled) {
  cursor: pointer;
}

.reorder-cell button:disabled {
  cursor: not-allowed;
}

td:not(.row-summary) .colored-cell {
  border-radius: 1px;
  /* silly workaround: hides border space */
  margin-left: -2px;
  margin-right: -2px;
  height: 80%;
  display: flex;
  align-items: center;
}

td:not(.row-summary) .colored-cell p {
  flex: 1;
  margin: 0;
  padding: 0 0.5rem;
  text-align: center;
}

td.row-summary {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 0 0.5rem;
  text-align: center;
  font-weight: 500;
}
