.epic-name-cell {
    cursor: pointer;
    font-weight: 500;
}

.epic-name-cell:hover {
    background: #eee;
}

td:not(.row-summary) .colored-cell {
    border-radius: 1px;
    /* silly workaround: hides border space */
    margin-left: -2px;
    margin-right: -2px;
    height: 80%;
    display: flex;
    align-items: center;
}

td:not(.row-summary) .colored-cell p {
    flex: 1;
    text-align: center;
}

td.row-summary {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
    font-weight: 500;
}